<h4 class="inpage-nav-title">
  Jump to
</h4>
<ul class="inpage-nav">
  {% for section in include.sections %}
    {% assign key = section[0] %}
    {% assign title = section[1] %}
    {% if section[0] == 'trainers' %}
      {% assign title = include.trainers_title %}
    {% endif %}
    
    {% if include.page[key] %}
      <li>
        <a href="#{{ title | slugify }}">
          {{ title }}
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
