/* Objects */



.banner {
    padding: 0 0 1rem;
    font-weight: 300;
    margin-bottom: 2rem;
    overflow: hidden;
    a { color: inherit; }
    
    &:extend(.fill-brand-three);
    &.banner-listing {
        color: @brand-two;
        background: @brand-five;
        margin-bottom: 0;
    }
    .theme-event &:extend(.fill-brand-two) {}
    .theme-trainer &:extend(.fill-brand-one) {}
}
.banner-title {
    .sm-plus({ margin-bottom: 2.5rem; });
}
.banner-subtitle {
    font-weight: 300;
    .theme-trainer &:extend(.brand-three) {}
    a { text-decoration: none; }
    .banner-title + & {
        margin: -0.5rem 0 2rem;
    }
}


.cards-container {
    clear: both;
    .sm-plus({
        @gap: 0.25rem;
        margin: 1rem -@gap;
        .card-container {
            float: left;
            &:nth-child(odd) { clear: both; }
            width: 50%;
            padding: 0 @gap;
            margin: @gap 0;
        }
        .card {
            min-height: 33rem;
        }
    });
}
.card-container {
    margin: 0 0 1rem;
}
.card-mask {
    overflow: hidden;
    transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: padding, margin;
    &:hover {
        z-index: 10;
        padding: 0.4rem;
        margin: -0.4rem;
        box-shadow: 0 0.5rem 2.5rem -0.25rem fade(#000, 70%);
        .card-button {
            opacity: 1;
            animation: shiftRight 1s ease-in-out;
        }
    }
}
.card {
    display: block;
    padding: 1.5rem 2rem 3.5rem;
    margin: -0.5rem;
    position: relative;
    font-weight: 300;
    text-decoration: none;
    color: @brand-one !important;
    &:extend(.fill-brand-two);
    &.card-course:extend(.fill-brand-three) {}
}
.card-title {
    font-weight: 300;
    margin: 1.5rem 0 1rem;
    b { display: block; margin-bottom: 0.25rem; }
}
.card-subtitle {
    &:extend(.title-label);
    b {
        margin-right: 0.15rem;
        color: @brand-three;
        .card-course & { color: @brand-four; }
    }
    b + b { margin-left: 0.35rem; }
    .label-pin { margin: 0; }
}
.card-button {
    &:extend(.title-label);
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    opacity: 0;
    transition: opacity 0.3s;
    .card-course & { color: @brand-four; }
}


.section {
    &:extend(.container);
    .mainbar {
                   margin-top: 2.0rem;
        .sm-plus({ margin-top: 0.5rem; });
        .md-plus({ margin-top: 0.65rem; });
    }
    .md-plus({ margin-bottom: 4rem; });
}
.section-heading {
    clear: both;
    margin-top: 0;
    border-left: 1rem solid;
    padding-left: 0.5rem;
    color: @brand-three;
    
    .container-values();
    .recurse-rule-breakpoints({
        margin-left: -1 * @value;
        border-left-width: @value * 2/3;
        padding-left: @value * 1/3;
    }, @hpads, @breakpoints);
    .theme-event &:extend(.brand-two) {}
    .theme-trainer &:extend(.brand-two) {}
}
.collection-heading {
    a { text-decoration: none; }
}


.highlight {
    margin: 0 -@container-hpad-xxs;
    padding: 1rem @container-hpad-xxs;
    background: fade(@brand-four, 50%);
    .theme-event & { background: fade(@brand-two, 15%); }
    color: @brand-two;
}
.highlight-heading {
    color: @brand-three;
    .theme-event &:extend(.brand-two) {}
    text-transform: uppercase;
    margin: 1.5rem 0 0.5rem;
}


.labels {
    &:extend(.title-label);
    margin: 2.5rem 0 -0.25rem;
}
.label-people,
.label-pin,
.label-timer,
.label {
    display: inline-block;
    background: no-repeat scroll center left;
    background-size: contain;
    padding-left: 1.25rem;
    line-height: @prose-leading;
    margin: 0 1rem 0.5rem 0;
    a {
        display: block;
        color: inherit;
        text-decoration: none;
    }
}
.label { padding-left: 0; }
.label-timer  { background-image: url(../img/timer.svg); }
.label-people { background-image: url(../img/people.svg); }
.label-pin    { background-image: url(../img/pin.svg); }


.person-list-title {
    &:extend(.title-label);
    margin: 0.5rem 0;
    text-align: right;
}
.person-list {
    margin: 2rem -1.5rem 0 auto;
    .banner & {
        margin: 2rem -40rem 0 auto;
        .sm-plus({ margin-top: 0.5rem; });
        .person { padding-right: 40rem; }
    }
    .card & {
        margin-right: -2rem;
    }
}
@photo-size: 4.5rem;
@photo-pad: 0.5rem;
.person {
    padding-left: @photo-size + @photo-pad;
    overflow: auto;
    background-color: fade(@brand-five, 80%);
    color: @brand-two;
    border-radius: @photo-size 0 0 @photo-size;
    position: relative;
    margin-bottom: 1px;
}
.person-info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.person-photo img:extend(.contain-width img) {}
.rounded-photo(@photo-size) {
    height:@photo-size;
    width: @photo-size;
    border-radius: @photo-size;
    overflow: hidden;
}
.person-photo {
    float: left;
    margin: 0;
    margin-left: -1 * (@photo-size + @photo-pad);
    .rounded-photo(@photo-size);
}
.person-name {
    margin: 0;
}
.person-handle {
    font-weight: 300;
}
.profile-photo {
    &:extend(.person-photo all);
    .rounded-photo(6rem);
    float: right;
    margin: 0.25rem 0 0.25rem 0.25rem;
}
.banner-photo {
    .rounded-photo(10rem);
    margin: 2rem 0 0;
}
.banner-photo img:extend(.contain-width img) {}


.speechbubble {
    margin: 0 0 3rem;
}
.speechbubble-quote {
    background-color: lighten(@brand-five, 5%);
    background: linear-gradient(to bottom, lighten(@brand-five, 5%), @brand-five);
    border: 1px solid @brand-five;
    border-bottom: none;
    margin: 0 -@container-hpad-xxs 1.5rem;
    padding: @container-hpad-xxs;
    font-style: italic;
    font-weight: 300;
    line-height: 1.6;
    position: relative;
    &:after {
        content: "";
        position: absolute;
        bottom: -1.75rem;
        left: 0.875rem;
        width: 0;
        height:0;
        border: 0.875em solid;
        border-color: @brand-five transparent transparent transparent;
    }
    p:last-of-type { margin-bottom: 0; }
    .truncate-el {
        padding: @container-hpad-xxs;
        margin: -@container-hpad-xxs;
        // @media (min-width: @md-min) { margin-bottom: 0; }
    }
}
.speechbubble-attribution {
    color: @brand-three;
    font-weight: bold;
    margin: 0.25rem 0;
}
.speechbubble-credentials {
    margin-top: 0;
    font-weight: 300;
    line-height: 1.2;
    .retina-font-weight(normal);
    b { .retina-font-weight(800); margin-right: 0.25rem; }
}


.links-list {
    .size-xsmall;
    text-transform: uppercase;
    margin: 0.75rem 0 0.5rem;
    padding: 0 !important;
    line-height: @title-leading;
    > li {
        display: inline-block;
        margin-right: 1rem;
        padding: 0;
        > a { text-decoration: none; }
    }
}
#instantclick-bar {
    background-color: @brand-three;
}


.logos-list {
    margin: 0 -@container-hpad-xxs 1.5rem;
    background: white;
    > li {
        float: left;
        width: 50%;
        .sm-plus ({ width: 25%; });
        border: 1px solid @brand-one;
        > a {
            display: block;
            position: relative;
            outline: 0 solid white;
            transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
            &:hover {
                z-index: 10;
                outline-width: 0.25rem;
                box-shadow: 0 0.5rem 2.5rem -0.25rem fade(#000, 40%);
            }
        }
    }
    .logo-hold:extend(.embed-fluid) {
        padding-bottom: 35%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        border: solid transparent;
        border-width: 1.5rem;
        .md-plus({
            border-width: 2rem;
        });
        margin: 0;
    }
    .logo-title {}
}


.button:visited,
.button {
    &:extend(.size-large);
    &:extend(.no-underline);
    
    display: block;
    width: 100%;
    border: none;
    background: transparent;
    color: inherit;
    text-align: center;
    margin: 0;
    padding: 1.5rem 1rem;
    &.button-multiline {
        padding: 0.9rem 1rem;
        > i {
            &:extend(.size-small);
            display: block;
            margin: 0.3rem 0 0;
            font-weight: 300;
            font-style: normal;
        }
    }
}
.action-container {
    border: solid darken(@brand-two, 10%);
    border-width: 0 1px 2px 0;
    border-radius: 5rem;
    &:extend(.fill-brand-two);
    .theme-event &:extend(.fill-brand-three) {
        border-color: darken(@brand-three, 10%);
    }
    
    transition: all 0.3s;
    .action-toggle { transition: all 0.3s; }
    .has-no-js &,
    &.action-explode {
        margin-left: -@container-hpad-xxs;
        margin-right: -@container-hpad-xxs;
        border-radius: 0;
        border-width: 0 0 1px 0;
        padding: 2rem @container-hpad-xxs;
        .action-toggle {
            &:extend(.size-xlarge);
            padding-left: 0;
            padding-right: 0;
        }
    }
}
.action-body {
    .has-js & { display: none; }
    margin: 0 -@container-hpad-xxs;
    padding: 2rem @container-hpad-xxs 0.5rem;
    iframe {
        width: 100%;
        background: white;
    }
}

.header {
    padding-top: 2rem;
    padding-bottom: 2rem;
    a { text-decoration: none; color: inherit }
}
.header-logo {
    margin: 0 0 1rem;
    .sm-plus({
        float: left;
        margin: 1rem 0;
    });
}
.header-nav {
    &:extend(.title-label);
    .sm-plus({
        float: right;
        margin: 1.75rem 0 0;
    });
    .md-plus({ .size-small; });
    @navhpad: 0.5rem;
    > ul {
        margin: 0 0 0 -@navhpad;
    }
    li {
        display: inline-block;
        > a {
            &:extend(.brand-three);
            padding: @navhpad;
            .sm-plus({ padding: 1rem; });
        }
    }
}
.footer {
    clear: both;
    margin-top: 4rem;
    .md-plus({ margin-top: 6rem; });
    color: @brand-one;
    background-color: @brand-two;
    padding-top: 1rem;
    a { color: @brand-four; }
}
.footer-links {
    margin-top: 2rem;
    > li {
        display: inline-block;
        > a {
            padding: 0.5rem 0.25rem;
        }
    }
}

