/* ========= */
/* = Theme = */
/* ========= */



/* Base Styles */

body {
    background-color: @brand-one;
    color: @brand-two;
}
a,
a:visited {
    color: @brand-three;
    text-decoration: underline;
}



/* Animations */
@keyframes shiftRight {
    from { transform: translateX(0); }
    50%  { transform: translateX(0.5rem); }
    to   { transform: translateX(0); }
}
