/* ========= */
/* = Theme = */
/* ========= */



/* Base Styles */

body {
    background-color: @brand-one;
    color: @brand-two;
}
a,
a:visited {
    color: @brand-three;
    text-decoration: underline;
}

/* Brand Styles */
.fill-brand-two {
    color: @brand-one;
    background: @brand-two;
    background: linear-gradient(to right bottom, darken(@brand-two, 15%), lighten(@brand-two, 5%));
}
.fill-brand-three {
    color: @brand-one;
    background-color: @brand-three;
    background: linear-gradient(to right bottom, darken(@brand-three, 15%), lighten(@brand-three, 5%));
}



/* Animations */
@keyframes shiftRight {
    from { transform: translateX(0); }
    50%  { transform: translateX(0.5rem); }
    to   { transform: translateX(0); }
}
