---
layout: page

title: About Us

permalink: /about/

about: |

  Pipal Academy is a collective of experienced technologists, who care deeply about the art of software development. We offer in-depth courses on niche technical topics.

  We regularly conduct public workshops and also offer on site corporate trainings. Our courses are targeted at professional software developers and we make sure they are hands-on and interactive. Very often the participants finish our courses with lot of excitement and joy of learning.

team: |
  Our trainers are practicing software engineers who have proven industry experience, delivered talks and workshops at various tech conferences and well recognized in the tech community.
  
---


<section class="section clearfix">
  <div class="prose page-primary">
    {{ page.about | markdownify }}
  </div>
</section>

<section class="section clearfix">
  <div class="sidebar">
    <h2 class="page-heading">
      Our Team
    </h2>
    
    <div class="prose page-caption">
      {{ page.team | markdownify }}
    </div>
  </div>
  
  <div class="mainbar">
    {% assign trainers = site.trainers | where: 'active', true %}
    {% for trainer in trainers %}
      {%
        include trainer_teaser.liquid
        trainer=trainer
      %}
    {% endfor %}
  </div>
</section>
