---
layout: listing

title: Courses

permalink: /courses/
---

<div class="cards-container clearfix">
  {% for course in site.courses %}
    {%
      include course_teaser.liquid
      course=course
    %}
  {% endfor %}
</div>
