---
layout: listing

title: Courses

intro: |
  We conduct on-demand trainings on a wide range of technical topics
  and languages. Get in touch to schedule a training session at
  your organistion, anywhere in India.

intro_link:
  title: Download Course Catalogue
  url: https://pipal.in/static/pipal-academy-training-programs.pdf

permalink: /courses/
---

<div class="cards-container clearfix">
  {% for course in site.courses %}
    {%
      include course_teaser.liquid
      course=course
    %}
  {% endfor %}
</div>
