---
layout: listing

title: Upcoming Events

intro: |
  Attend one of our events to expand your knowledge,
  solidify your foundations or learn a new skill.

permalink: /events/
---

{% assign upcoming_events = site.events | where:"upcoming", "true" %}
<div class="cards-container clearfix">
  {% for event in upcoming_events %}
    {%
      include event_teaser.liquid
      event=event
    %}
  {% endfor %}
</div>