---
layout: listing

title: Upcoming Events

intro: |
  Attend one of our events to expand your knowledge,
  solidify your foundations or learn a new skill.

permalink: /events/
---

<div class="cards-container clearfix">
  {% for event in site.events %}
    {% if event.active %}
      {%
        include event_teaser.liquid
        event=event
      %}
    {% endif %}
  {% endfor %}
</div>
