<!-- hook to support pipal.in/go path in go imports for Mastering Go
workshop -->
<html><head>
      <meta name="go-import"
            content="pipal.in/go
                     git https://github.com/pipalacademy/mastering-go">
      <meta name="go-source"
            content="pipal.in/go
                     https://github.com/pipalacademy/mastering-go
                     https://github.com/pipalacademy/mastering-go/tree/master{/dir}
                     https://github.com/pipalacademy/mastering-go/blob/master{/dir}/{file}#L{line}">
</head></html>
