---
layout: page
title: Policies
permalink: /policies/
---

<section class="section clearfix">
  <div class="prose page-primary">
    <h2 class="page-heading">
      Privacy Policy
    </h2>

    <div class="prose page-caption">
      <p>We collect the email address and phone number from the participants
      of our trainings. These will be used only for communcating about the
      training and never used for any promotional purpose.
      </p>
    </div>
  </div>
</section>


<section class="section clearfix">
  <div class="prose page-primary">
    <h2 class="page-heading" id="refund-policy">
      Cancellation, return and refund policy
    </h2>

    <div class="prose page-caption">
      <p>You may cancel until the day before the event and receive a full course refund.</p>
      <p>If you are unable to attend the course due to illness or other factors beyond your control, you will be offered a refund for the days not attended or an option to attend the same course in the future at a discounted price at our discretion.</p>

      <p>Please write to us at <a href="mailto:hello@pipal.in">hello@pipal.in</a> to request a refund.</p>

      <p>We may cancel an event due to unforeseen reasons or circumstances outside our control (force majeure events such as floods, fire, riots, terrorist incidents, bandhs, etc). If that happens, we may reschedule the event or issue a full or partial refund at our discretion.</p>
    </div>
  </div>
</section>

